In [ ]:
!pip install pandas

#Creating a Pandas Series Using Series()

In [ ]:
#FROM ARRAY

In [1]:
import pandas as pd
import numpy as np
#imported pandas and numpy
lst = [ i for i in range(1,11)]
#created a list of integer
print("List: ", lst)
data = np.array(lst)
#converted list to an array
print("Array: ",data)
print("Type: ",type(data))
#printing array and its data type
ser = pd.Series(data)
print(f"Pandas Series:\n{ser}")
print("Type: ",type(ser))

List:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Array:  [ 1  2  3  4  5  6  7  8  9 10]
Type:  <class 'numpy.ndarray'>
Pandas Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
Type:  <class 'pandas.core.series.Series'>

In [ ]:
#FROM LIST DIRECTLY

In [2]:
data = pd.Series(['a', 'b', 'c', 'd'])
print(data)
print("_"*30)
list3 = ['a', 'b', 'c', 'd']
datan = np.array(list3)
ser = pd.Series(datan)
print(ser)
# if(data == datan):
#     print("Hello:")

0    a
1    b
2    c
3    d
dtype: object
______________________________
0    a
1    b
2    c
3    d
dtype: object

In [ ]:
#Bekar h
data = np.array(['g', 'e', 'e', 'k', 's'])
ser = pd.Series(data)
print(ser)

In [6]:
#Ye thoda sa khatank hua
alphabet1 = [chr(x) for x in range(ord('a'), ord('z') + 1)]
alphabet2 = [chr(x) for x in range(97 , 123)]
#printing
print("_"*30)
print("List1 :\n",alphabet1)
print("_"*30)
print("List2:\n",alphabet2)
print("_"*30)
#converting alphabet1 to an array
data1 = np.array(alphabet1)
#converting array to pandas series
ser1 = pd.Series(data1)
#converting alphabet2 to an array
data2 = np.array(alphabet2)
#converting array 2 to pandas series
ser2 = pd.Series(data1)
print(f"Series 1:\n{ser1}")
print("_"*30)
print(f"Series 2:\n{ser2}")
print("_"*30)


ord('a')

______________________________
List1 :
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
______________________________
List2:
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
______________________________
Series 1:
0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
______________________________
Series 2:
0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
______________________________

97

In [ ]:
##Data Frame creation using .DataFrame() function

In [7]:
# Creating DataFrame using List or list of lists
list_3 = [ chr(x) for x in range(ord('a'), ord('k') +1)]
list_4 =  [ chr(x) for x in range(ord('A'), ord('B') +1)]
data = pd.DataFrame([list_3]*5)
# 5 references of list_3 as separate rows
data2 = pd.DataFrame([list_3 *5])
#repeats the inner list elements 5 times, creating one flat list concatenated 5 times
data_un = pd.DataFrame([list_3], [list_4], [ x for x in range(1, len(list_3) +1)])
# print([list_3 *5])

print("-"*30)
print(f"([list_3]*5):\n{data}")
print("-"*30)
print(f"([list_3 *5]):\n{data2}")
print("-"*30)
print(f"([list_3], [list_4],[ x for x in range(1, len(list_3) +1)]):\n{data_un}")
print("-"*30)
print(f"(List_3 *2):\n{pd.DataFrame(list_3 *2)}")
print("-"*30)
lst = [1, 2, 3, 4, 5]
df = pd.DataFrame([lst, lst, lst, lst, lst, lst, lst, lst, lst], 
                  columns=['A', 'B', 'C', 'D', 'E'])
"""This is a list of lists, each being lst.
Pandas treats this as multiple rows."""
print(df)
type(data)

------------------------------
([list_3]*5):
  0  1  2  3  4  5  6  7  8  9  10
0  a  b  c  d  e  f  g  h  i  j  k
1  a  b  c  d  e  f  g  h  i  j  k
2  a  b  c  d  e  f  g  h  i  j  k
3  a  b  c  d  e  f  g  h  i  j  k
4  a  b  c  d  e  f  g  h  i  j  k
------------------------------
([list_3 *5]):
  0  1  2  3  4  5  6  7  8  9   ... 45 46 47 48 49 50 51 52 53 54
0  a  b  c  d  e  f  g  h  i  j  ...  b  c  d  e  f  g  h  i  j  k

[1 rows x 55 columns]
------------------------------
([list_3], [list_4],[ x for x in range(1, len(list_3) +1)]):
  1  2  3  4  5  6  7  8  9  10 11
A  a  b  c  d  e  f  g  h  i  j  k
B  a  b  c  d  e  f  g  h  i  j  k
------------------------------
(List_3 *2):
    0
0   a
1   b
2   c
3   d
4   e
5   f
6   g
7   h
8   i
9   j
10  k
11  a
12  b
13  c
14  d
15  e
16  f
17  g
18  h
19  i
20  j
21  k
------------------------------
   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5
3  1  2  3  4  5
4  1  2  3  4  5
5  1  2  3  4  5
6  1  2  3  4  5
7  1  2  3  4  5
8  1  2  3  4  5

pandas.core.frame.DataFrame

In [ ]:
#Assigning Column Names
df2 = pd.DataFrame([lst, lst, lst, lst, lst, lst, lst, lst, lst], 
                  columns=['First', 'Second', 'Third', 'Fourth', 'Fifth'])

print(df)

In [ ]:
#Creating DataFrame from dict of ndarray/lists: 
import pandas as pd

# intialise data of lists.
data = {'Name': ['Tom', 'nick', 'krish', 'jack'],
        'Age': [20, 21, 19, 18],
       "Friend" : ["yes", "NO", False, True]}
# Create DataFrame
df = pd.DataFrame(data)
# Print the output.
print(df)

In [ ]:
#Checking Data Types in Pandas
print(type(df))  # Output: <class 'pandas.core.frame.DataFrame'>
print(type(series))  # Output: <class 'pandas.core.series.Series'>

In [ ]:
 Deleting a DataFrame
del df
print(df)  # This will raise a NameError since df no longer exists.

In [ ]:
# pd.<Press Tab>
# Shift + Tab
np.array()